body {
    text-align: center;
    background-color: rgb(233, 215, 207);
    color: rgb(83, 75, 75);
  }
  h1 {
    font-family: "oswald", sans-serif;
  }
  p {
    font-family: "fira sans", sans-serif;
  }
  a {
    font-family: "fira sans", sans-serif;
    color: #004fff;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }